name: UAT Validation/Deployment

on:
  workflow_dispatch:
  pull_request:
    types: [ 'opened', 'closed', 'synchronize' ] 
    branches:
      - 'UAT'
    paths:
      - 'force-app/**'
jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      # Setup Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'
      # Install Salesforce CLI via NPM
      - name: Install Salesforce CLI
        run: |
          npm install -g @salesforce/cli
          sf --version  
          echo "Branch = ${{ github.ref_name }}"
          echo "Event = ${{ github.event_name }}"
          echo "refs/heads/UAT = ${{github.ref}}"
          echo "base_refs/heads/UAT = ${{github.base_ref}}"
          echo "github.event.action = ${{github.event.action}}"

  validate-to-uat:
    if: github.base_ref == 'UAT'
    runs-on: ubuntu-latest
    steps:      
      - uses: actions/checkout@v4
      - name: Validate in UAT
        uses: jawills/sf-deploy@v1.0
        with:
          SFDX_AUTH_URL: ${{ secrets.SFDX_UAT_AUTH_URL }}
          DRY_RUN: true        
            
  deploy-to-uat:
    if: github.base_ref == 'UAT' && github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:         
      - uses: actions/checkout@v3
      - name: Deploy To UAT
        uses: jawills/sf-deploy@v1.0
        with:
          SFDX_AUTH_URL: ${{ secrets.SFDX_UAT_AUTH_URL }}
          DRY_RUN: false
          TEST_LEVEL: RunLocalTests  

  pull-request-creation:
    if: github.base_ref == 'UAT' && github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Create Pull Request to Production
        uses: repo-sync/pull-request@v2
        with:
          source_branch: UAT
          destination_branch: main
          github_token: ${{ secrets.PR_CREATE }}
          pr_title: "${{ github.event.pull_request.title }} : Sync UAT into main"
          pr_body: "Automatically created PR to sync changes from UAT to main."
